.control-container{
    width: 270px;
    border: 1px solid #999;
    border-radius: 30px;
    padding-bottom: 20px;
    padding-top: 35px;

}

.control-button-container {
    width: 200px;
    border: 1px solid #999;
    border-radius: 10px;
    padding-bottom: 20px;
    padding-top: 20px;

}

.user-terminate-container {
    padding-top: 20px;
}